{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/complete_profile.css' %}">
    <title>Completa tu Perfil</title>
</head>
<body>
    <div class="profile-container">
        <div class="profile-box">
            <div class="image-side">
                <img src="{% static 'images/logo.jpg' %}" alt="Profile Image">
            </div>
            <div class="form-side">
                <h2>Completa tu Perfil</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-box">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn-save">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
