{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Vendedor</title>
    <link rel="stylesheet" href="{% static 'core/css/fuentes.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/vendedor_panel.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
</head>
<body>
    <div class="product-panel">
        <div class="header">
            <h1>Panel del Vendedor</h1>
            <a href="{% url 'agregar_producto' %}" class="add-product-button">Añadir Producto</a>
            <form action="/accounts/logout/" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="session-button">Cerrar sesión</button>
            </form>
        </div>

        <div class="product-grid">
            {% if productos %}
                {% for producto in productos %}
                    <div class="product-card" data-id="{{ producto.id }}" onclick="redirigirADetalles({{ producto.id }})">
                        <div class="image-carousel" id="producto-{{ producto.id }}">
                            {% for imagen in producto.imagenes.all %}
                                <img src="{{ imagen.imagen.url }}" alt="Imagen del Producto" class="carousel-image">
                            {% endfor %}
                        </div>
                        <div class="product-info">
                            <p class="time-published">{{ producto.time_since_created }}</p>
                            <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
                            <p><strong>Precio:</strong> ${{ producto.precio }}</p>
                            <p><strong>Categoría:</strong> {{ producto.categoria }}</p>
                            <p><strong>Estatus:</strong> {{ producto.get_estatus_display }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No tienes productos en venta.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
<script>
    function redirigirADetalles(id) {
        window.location.href = `/productos/detalle/${id}/`;
    }
</script>