<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>¡Bienvenido a Horus!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <h1 class="text-center">¡Bienvenido a Horus!</h1>

    <div class="text-center">
        {% if request.user.is_authenticated %}
            {% if request.user.perfilusuario.rol == 'vendedor' %}
                <p>Eres un vendedor. Publica tus productos <a href="{% url 'publicar_producto' %}">aquí</a>.</p>
            {% elif request.user.perfilusuario.rol == 'comprador' %}
                <p>Eres un comprador. Explora el catálogo <a href="{% url 'catalogo' %}">aquí</a>.</p>
            {% endif %}
        {% else %}
            <p><a href="{% url 'login' %}">Inicia sesión</a> para acceder a las funcionalidades.</p>
        {% endif %}
    </div>
</body>
</html>
