{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Yonkes - Horus</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        #map {
            height: 100vh;  /* Ocupa toda la pantalla */
            width: 100%;
        }
    </style>
</head>
<body>

    <h2 class="text-center">Ubica tu Yonke</h2>

    <!-- Contenedor del mapa -->
    <div id="map"></div>

    <script src="{% static 'js/mapa.js' %}"></script>

</body>
</html>
