<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <p>Bienvenido, {{ user.username }}!</p>
                <a href="{% url 'account_logout' %}">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'account_login' %}">Iniciar sesión</a>
            {% endif %}
        </nav>
    </header>

    <main>
        <h1>Bienvenido a la página de inicio</h1>
    </main>
</body>
</html>
