<!-- account.html -->
{% load static socialaccount %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta | Horuz Autopartes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'catalogo' %}">Productos</a></li>
                    <li>
                        {% if user.is_authenticated %}
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                Hola, {{ user.username }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                            </div>
                        </div>
                        {% else %}
                        <a href="#account-section">Cuenta</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <a href="{% url 'carrito' %}"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
            <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>

    <!-- Página de Cuenta -->
    <div id="account-section" class="account-page">
        <div class="container">
            <div class="row" style="display: flex; align-items: center; justify-content: space-between;">

                <!-- Contenedor para Cliente -->
                <div class="col-2 role-container" style="text-align: center; padding: 20px;">
                    <div class="form-container">
                        <h2>¿Eres Cliente de Horuz?</h2>
                        <div class="form-btn">
                            <span onclick="showClientLogin()">Iniciar Sesión</span>
                            <span onclick="showClientRegister()">Registrarse</span>
                            <hr id="Indicator" style="transition: all 0.5s ease;">
                        </div>

                        <div id="client-login" class="button-group" style="display: block;">
                            <a href="{% url 'user_login' %}" class="btn" style="margin: 10px;">Iniciar Sesión</a>
                            <a href="{% provider_login_url 'google' %}" class="btn btn-google" style="margin: 10px;">Iniciar Sesión con Google</a>
                        </div>

                        <div id="client-register" class="button-group" style="display: none;">
                            <a href="{% url 'user_signup' %}" class="btn" style="margin: 10px;">Registrarse</a>
                            <a href="{% provider_login_url 'google' %}" class="btn btn-google" style="margin: 10px;">Registrarse con Google</a>
                        </div>
                    </div>
                </div>

                <!-- Contenedor para Yonkero -->
                <div class="col-2 role-container" style="text-align: center; padding: 20px;">
                    <div class="form-container">
                        <h2>¿Eres Un Yonkero?</h2>
                        <div class="form-btn">
                            <span onclick="showYonkeroLogin()">Iniciar Sesión</span>
                            <span onclick="showYonkeroRegister()">Registrarse</span>
                            <hr id="IndicatorYonkero" style="transition: all 0.5s ease;">
                        </div>

                        <div id="yonkero-login" class="button-group" style="display: block;">
                            <a href="{% url 'yonkero_login' %}" class="btn" style="margin: 10px;">Iniciar Sesión</a>
                            <a href="{% provider_login_url 'google' %}" class="btn btn-google" style="margin: 10px;">Iniciar Sesión con Google</a>
                        </div>

                        <div id="yonkero-register" class="button-group" style="display: none;">
                            <a href="{% url 'yonkero_signup' %}" class="btn" style="margin: 10px;">Registrarse</a>
                            <a href="{% provider_login_url 'google' %}" class="btn btn-google" style="margin: 10px;">Registrarse con Google</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Descarga Nuestra App</h3>
                    <p>Descarga la app para Android y iOS.</p>
                    <div class="app-logo">
                        <img src="{% static 'images/play-store.png' %}">
                        <img src="{% static 'images/app-store.png' %}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{% static 'images/logo-white.png' %}">
                    <p>Nuestro propósito es ofrecer autopartes de calidad a todos los amantes de los autos, asegurando un viaje seguro y confortable.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Enlaces Útiles</h3>
                    <ul>
                        <li>Cupones</li>
                        <li>Blog</li>
                        <li>Política de Devoluciones</li>
                        <li>Programa de Afiliados</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Síguenos</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 - Horuz Autopartes</p>
        </div>
    </div>

    <!-- JavaScript -->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px";
            }
        }

        function showClientLogin() {
            document.getElementById("client-login").style.display = "block";
            document.getElementById("client-register").style.display = "none";
            document.getElementById("Indicator").style.transform = "translateX(0px)";
        }

        function showClientRegister() {
            document.getElementById("client-login").style.display = "none";
            document.getElementById("client-register").style.display = "block";
            document.getElementById("Indicator").style.transform = "translateX(112px)";
        }

        function showYonkeroLogin() {
            document.getElementById("yonkero-login").style.display = "block";
            document.getElementById("yonkero-register").style.display = "none";
            document.getElementById("IndicatorYonkero").style.transform = "translateX(0px)";
        }

        function showYonkeroRegister() {
            document.getElementById("yonkero-login").style.display = "none";
            document.getElementById("yonkero-register").style.display = "block";
            document.getElementById("IndicatorYonkero").style.transform = "translateX(112px)";
        }
    </script>
</body>

</html>
